arcade==2.6.17
asgiref==3.7.2
astroid==3.0.2
attrs==23.1.0
beautifulsoup4==4.12.2
blinker==1.6.2
Brotli==1.1.0
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==2.0.12
click==8.1.7
clipboard==0.0.4
colorama==0.4.6
cryptography==41.0.4
dill==0.3.7
distlib==0.3.7
dj-database-url==2.1.0
Django==5.0
django-admin==2.0.2
fake-useragent==1.1.1
filelock==3.12.4
Flask==2.3.3
Flask-SQLAlchemy==3.1.1
fp==0.2
free-proxy==1.1.1
freeproxy==1.0.2
gevent==23.9.1
graphviz==0.20.1
greenlet==3.0.0
h11==0.14.0
h2==4.1.0
hpack==4.0.0
hyperframe==6.0.1
idna==3.4
isort==5.13.2
isoweek==1.3.3
itsdangerous==2.1.2
Jinja2==3.1.2
kaitaistruct==0.10
lxml==4.9.3
MarkupSafe==2.1.3
mccabe==0.7.0
mysql==0.0.3
mysql-connector==2.2.9
mysqlclient==2.2.1
outcome==1.2.0
packaging==23.2
peewee==3.16.3
Pillow==9.3.0
platformdirs==3.10.0
pyasn1==0.5.0
pycparser==2.21
pydivert==2.1.0
pygame==2.5.2
pyglet==2.0.dev23
pylint==3.0.3
pymunk==6.4.0
pyOpenSSL==23.2.0
pyparsing==3.1.1
pyperclip==1.8.2
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.0
pytiled-parser==2.2.0
pyvenv==0.2.2
requests==2.27.1
selenium==4.8.2
selenium-wire==5.1.0
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
SQLAlchemy==2.0.21
sqlparse==0.4.4
termcolor==1.1.0
TimeConvert==3.0.13
tomlkit==0.12.3
tqdm==4.66.1
trio==0.22.2
trio-websocket==0.11.1
typing_extensions==4.8.0
tzdata==2023.3
tzlocal==5.2
urllib3==1.26.17
useragent==0.1.1
virtualenv==20.24.5
webdriver-manager==3.8.5
Werkzeug==2.3.7
wsproto==1.2.0
xlwt==1.3.0
zope.event==5.0
zope.interface==6.1
zstandard==0.21.0
